body {
  margin: 0;
  padding: 20px;
  text-align: center;
}
#main {
  text-align: left;
  margin: 0 auto;
  width: 940px;
}
#content button {
  cursor: pointer;
}
h1 {
  margin-top: 20px;
}
.text-center {
  text-align: center;
}
.demo-headline {
  padding: 40px 0 0;
}
.tile {
  min-height: 330px;
}
#credits {
  margin-top: 100px;
}
