@import "util.less";

@anim-duration: .5s;

div#hopscotch-bubble {
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  z-index: 999999;

  &.animate {
    .transition('top, left', @anim-duration, ease-in-out);
  }

  &.hide {
    display: none;
  }

  .round-corners;

  #hopscotch-bubble-container {
    padding: 20px;
    position: relative;
  }

  #hopscotch-bubble-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  #hopscotch-bubble-number {
    float: left;
    font-size: 48px;
    padding: 25px;
  }

  .hopscotch-nav-button {
    &.hide {
      display: none;
    }
  }
}
