@import "util.less";

@anim-duration: .5s;

div#hopscotch-bubble {
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px;
  position: absolute;
  z-index: 999999;

  &.animate {
    .transition('top, left', @anim-duration, ease-in-out);
  }

  .round-corners;

  .hopscotch-nav-button {
    &.hide {
      display: none;
    }
  }
}
