.round-corners (@radius: 5px) {
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.background-clip () {
  -moz-background-clip: padding; /* for Mozilla browsers*/
  -webkit-background-clip: padding;   /* Webkit */
  background-clip: padding-box; /*  browsers with full support */
}
