.round-corners (@radius: 5px) {
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.transition (@property, @duration, @timing) {
  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @timing;

  -ms-transition-property: @property;
  -ms-transition-duration: @duration;
  -ms-transition-timing-function: @timing;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @timing;

  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @timing;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @timing;
}
.background-clip () {
  -moz-background-clip: padding; /* for Mozilla browsers*/
  -webkit-background-clip: padding;   /* Webkit */
  background-clip: padding-box; /*  browsers with full support */
}
