<div id="hopscotch-container" class="hopscotch-bubble-container"></div>
<div id="hopscotch-arrow" class="hopscotch-bubble-arrow-container">
  <div class="hopscotch-bubble-arrow-border"></div>
  <div class="hopscotch-bubble-arrow"></div>
</div>